* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(34, 34, 34, 0.6);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: #9e9e9e;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

#workspaces button.focused {
    background-color: rgba(206, 206, 206, 0.2);
    color: #5f8700;
}

#workspaces button.urgent {
    background-color: #eb709b;
    color: #ffffff;
}

#mode {
    background-color: #444444;
    color: #ffffff;
    padding: 0 8px;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#mpris,
#temperature,
#disk,
#power-profiles-daemon,
#custom-language,
#tray {
    padding: 0 10px;
    color: #ffffff;
}

#temperature.critical {
    color: #ff3b30;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: #f0a500;
}

#battery.critical {
    color: #eb709b;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

#memory.high {
    color: #ff3b30;
}

#network.disconnected {
    color: #eb709b;
}

#tray {
    padding: 0 6px;
}
